<MudOverlay Visible="true" DarkBackground="true" Absolute="true" ZIndex="9999" Style="position: fixed">
    <div class="loader">
        <div class="loader__balls">
            <div class="loader__balls__group">
                <div class="ball item1"></div>
                <div class="ball item1"></div>
                <div class="ball item1"></div>
            </div>
            <div class="loader__balls__group">
                <div class="ball item2"></div>
                <div class="ball item2"></div>
                <div class="ball item2"></div>
            </div>
            <div class="loader__balls__group">
                <div class="ball item3"></div>
                <div class="ball item3"></div>
                <div class="ball item3"></div>
            </div>
        </div>
    </div>

</MudOverlay>
