<div class="d-flex flex-column justify-center align-center" style="height: 300px">
    <MudText Typo="Typo.h3" Color="Color.Primary" Style="font-weight: 600" Class="mb-4" Align="Align.Center">
        PUBLIC DOCKETS
    </MudText>
    <MudText Typo="Typo.h6" Align="Align.Center"> Your Digital Whiteboard for Dynamic Text Collaboration!</MudText>
</div>
