@page "/"
@using Docket.Shared;
@inherits PublicBase
@attribute [Authorize(Roles = "user")]


@if (isLoading)
{
    <Loader />
}
else
{
    @if (Dockets == null || Dockets.Count() == 0 )
    {
        <MudContainer Class="d-flex flex-column align-center pa-0 ma-0">
            <MudImage Src="/Image/No-Item.png" Width="450" Height="450" ObjectFit="ObjectFit.Cover" Elevation="0" Class="rounded" />
            <MudText Typo="Typo.h4" Align="Align.Center"><strong>NO DOCKETS</strong></MudText>
            <MudText Typo="Typo.subtitle2">Unfortunately, there's no Dockets at the public zone yet.</MudText>
        </MudContainer>
    }
    else
    {
        @if (Dockets.Count() > 0)
        {
            <Header />

            <div class="row mt-3 d-flex flex-wrap docketcard-container justify-center">
                <div style="min-width: 70%">
                    <DocketCard Dockets="@Dockets" OnFavoriteChanged="HandleFavoriteChanged" OnRatingChanged="HandleRatingChanged"/>
                </div>
            </div>
        }
    }
}



